/* canadian-aboriginal */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6pGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* cherokee */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6VGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* math */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W76Gn9Q3I8ipFY.woff2)
    format("woff2");
}
/* nushu */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W75Gn9Q3I8ipFY.woff2)
    format("woff2");
}
/* symbols */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W7oGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* syriac */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W71Gn9Q3I8ipFY.woff2)
    format("woff2");
}
/* tifinagh */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6mGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* vietnamese */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6JGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* latin-ext */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6IGn9Q3I8ipFY.woff2)
    format("woff2");
}
/* latin */
@font-face {
  font-family: "Google Sans Flex";
  font-style: normal;
  font-weight: 1 1000;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/googlesansflex/v12/t5svIQcYNIWbFgDgAAzZ34auoVyXkJCOvp3SFWJbN5hF8Ju1x6sKCyp0l9sI40swNJwGpVd4AZzz0v6lJ4qFXNZhGjLvDSkV4W6GGn9Q3I8i.woff2)
    format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans Flex";
}

:root {
  --backgroundColor: #060606;
  --primaryColor: white;
  --secondaryColor: #9aa0a7;
  --grayColor: #2c2c2c;
  --navbackColor: #191919;
  --hoverColorLight: #2c2c2cc9;
}

.body {
  width: 100%;
  height: 100%;
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
}

.container {
  min-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 0 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.logo-navbartext {
  display: flex;
  column-gap: 2.5rem;
}

.logo-continer {
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
}

.logo {
  font-size: 1.05rem;
  font-weight: 500;
}

.arrow-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grayColor);
  border-radius: 0.45rem;
  padding: 0.005rem 0.15rem;
}

.arrow-icon {
  width: 0.85rem;
  cursor: pointer;
}

/* Navigation text Section */
.navbartext-container {
  display: flex;
  align-items: center;
}

.navbartext {
  width: fit-content;
  padding: 0.65rem 1.25rem;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: 300;
  color: var(--secondaryColor);
}

.navbartext:hover {
  border-radius: 1rem;
  background-color: var(--navbackColor);
}

.button-navlink-container {
  width: fit-content;
  display: flex;
  column-gap: 0.45rem;
}

.button-navlink {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 300;
  cursor: pointer;
  font-size: 0.85rem;
  border-radius: 1.5rem;
  padding: 0.65rem 1.2rem;
  color: var(--secondaryColor);
  background-color: var(--navbackColor);
}

.button-navlink p {
  white-space: nowrap;
}

.button-navlink:hover {
  background-color: var(--hoverColorLight);
}

.searchIcon {
  width: 1.25rem;
}

/* Main Container */
.main {
  width: 100%;
  height: auto;
}

.main-section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  column-gap: 2.5rem;
  height: 55rem;
}

.main-section-one {
  padding-top: 6rem;
  width: calc(100% / 2);
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.main-section-two {
  padding-top: 4.5rem;
  width: calc(100% / 2);
  height: 100%;
  margin-right: 6rem;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main-section-two::-webkit-scrollbar {
  display: none;
}

.main-section-one-title {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-size: 600;
}

.main-section-one-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
  font-weight: 300;
  color: var(--secondaryColor);
}

.tryGemini {
  width: fit-content;
  padding: 0.5rem 0.85rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--grayColor);
}

.tryGemini:hover {
  background-color: var(--navbackColor);
}

.learnMoreArrow-container {
  display: flex;
  align-items: end;
  column-gap: 0.5rem;
}

.learnMoreArrow-container img {
  width: 1rem;
}

.main-section-one-videoBox {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-section-one-videoBox video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.main-section-one-photoBox video {
  width: fit-content;
}

.main-section-two-card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  border-bottom: 1px solid var(--navbackColor);
}

.main-section-two-card:last-child {
  border-bottom: none;
}

.main-card {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.cardAdj {
  width: 90%;
  height: fit-content;
  line-height: 2rem;
  font-size: 2rem;
}

.main-cardImageBox img,
.main-cardImageBox video {
  max-width: 12rem;
  max-height: 10rem;
  border-radius: 1rem;
}

/* Building Section */
.build-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--grayColor);
  border-bottom: 1px solid var(--grayColor);
}

.build-section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3.5rem 6rem;
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  background-color: black;
}

.build-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.build-title {
  font-size: 2.5rem;
}

.build-models {
  width: fit-content;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: var(--secondaryColor);
  font-weight: 300;
  border: 1px solid var(--grayColor);
  padding: 0.85rem 1rem;
  border-radius: 2rem;
  font-size: 0.85rem;
}

.build-models img {
  width: 1.25rem;
  height: fit-content;
}

.build-body {
  height: 100%;
  display: flex;
  column-gap: 5rem;
}

.build-body-container {
  width: 100%;
  height: 33.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid var(--grayColor);
  padding-top: 2.5rem;
  color: var(--secondaryColor);
}

.build-body-container .learnMore {
  font-size: 0.89rem;
  font-weight: 300;
}

.build-body-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-weight: 300;
  color: var(--secondaryColor);
}

.build-body-card .try {
  font-size: 0.65rem;
  text-transform: uppercase;
}

.build-body-head {
  display: flex;
  flex-direction: column;
  row-gap: 1.85rem;
}

.build-body-title {
  width: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.build-body-head img {
  width: 6rem;
  border-radius: 1.5rem;
}

.build-body-title span {
  width: fit-content;
  font-size: 2rem;
  color: var(--primaryColor);
}

.build-body-title p {
  width: 17rem;
  font-size: 1.25rem;
  font-size: 300;
}

.build-app-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.85rem;
  justify-content: flex-start;
  align-items: start;
}

.App-AI-section {
  height: fit-content;
  display: flex;
  column-gap: 1rem;
  font-size: 1rem;
  align-items: center;
}

.App-AI-section img {
  width: 1rem;
  height: fit-content;
}

/* Switch section */
.switch-container {
  width: fit-content;
  height: auto;
  display: flex;
  align-content: center;
  line-height: 0.1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  background-color: var(--navbackColor);
}

.right-arrow,
.left-arrow {
  width: 2.65rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.right-arrow {
  background-color: var(--grayColor);
}
